.card{
  border: 1px solid rgb(177, 175, 175);
  box-shadow: 10px 10px 10px rgb(165, 163, 163);
  max-width: 200px;
  text-align: center;
  display: inline-block;
  margin: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card img{
  max-width: 200px;
}
.card h3{
  font-style: italic;
}